html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    margin: 30px;

}


section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 100px auto;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

article {
    padding: 20px;
}