@media all and (max-width: 768px) {

    /* .gallery {
        display: block;
        width: 200%;
    } */


    .gallery > * {
        width: 100%;
    }

    .gallery {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .wrapper.style2 {
        padding: 0rem;
      }

    .spotlight > * {
        width: 100%;
      }

      .spotlight .inner {
        padding: 1.5rem;
        font-size: 23px;
        text-align: center;
      }
}