@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
    margin:0;
    font-family: 'Open Sans', 'sans-serif';
}

*, **, ::before, ::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', 'sans-serif';
}


.navbar {
    display: flex;
    margin: -5px 135px;
    list-style-type: none;
    justify-content: space-between;
    position: relative;
    align-items: center;
    
}

.mini-navbar {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
}

.mini-navbar li {
    margin: 35px 20px;
    list-style-type: none;
    font-weight: bold;
}

.img-background {
    position: relative;
}

.background {
    width: 100%;
}

.dog {
    width: 59%;
    position: absolute;
    transform: translate(-120%, 12%);
   
}

.title {
    position: absolute;
    transform: translate(50%, -160%);
    
}

.title-text, .title-text-second {
    font-size: 80px;
    color: white;
    line-height: 0.1;
    font-size: 65px;
}

.title-text {
    font-weight: 100;
}

.title-info {
    color: white;
    margin-top: -20px;
    max-width: 300px;
}

.title-btn {
    padding: 10px 40px;
    border-radius: 25px;
    border:none;
    font-size: 15px;
    margin-right: 10px;
    color: #FF3803;
    background:rgb(251, 251, 251);
}

.text {
    align-items: center;
    padding: 50px 50px;
    margin:50px 350px;
    max-width: 550px;
}

.text-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: -10px;
}

.text-paragraph {
    text-align: center;
    font-size: 13px;
    line-height: 2;    
}

.pets {
    display: flex;
    margin: 10px 180px;
    max-height: 700px;
}

.pets-benefit {
    border: 1px solid #FF3803;
    border-radius: 5%;
    margin: 30px 20px;
    padding: 40px 10px;
    text-align: center;
    line-height: 1.6;
    
}

.about {
    display: flex;
    padding: 91px 50px;
    margin: 78px 60px;
}

.about-paragraph {
    margin-top: 60px;
}

.first-title {
    font-size: 50px;
    font-weight: 200;
}

.second-title {
    font-size: 50px;
    line-height: 0;
    margin-top: -30px;
}

.pet-img {
    position: relative;
    padding: 60px 20px;
    margin: 20px 20px;
    
}

.service-back {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index:1;
}

.service-pic {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.about-paragraph {
    max-width: 500px;
}

.img {
    margin-right: 70px;
}

.about-us {
    padding: 15px 50px;
    margin: 40px 0px;
    border-radius: 25px;
    border: none;
    background-color: #FF3803;
    color: white;
}

.why-us {
    min-height: 600px;
    text-align: center;
    padding: 30px 0px;

}

.img-contact {
    position: relative;
    max-width: 100vw;
    transform: translate(0%, -50%);
    z-index: 1;

}

.img-contact img {
    width: 100%;
}

.why-us-wrapper {
    position: absolute;
    transform: translate(30%, -40%);
    z-index: 2;
}

