@media all and (max-width:600px) {
    .tm-nav-li{
      padding-right: 0;
    }
    .tm-nav-ul {
         text-align: end;
    }
 
    .tm-section-title {
      margin-left:20px;
    }
 
    figure {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
 
 
    .tm-gallery-page {
     margin: 20px 30px;
   }
 
   .tm-description-figure {
     position: absolute;
   }
 
   .tm-description-figure {
     width: 500%;
     display: block;
   }
 
   .img-fluid {
     max-width: 300%;
     height: auto;
     z-index: 1;
   }
 
 
   .tm-description-box {
     display: block;
     max-width: 435px;
     z-index: 1;
   }
 
   .tm-gallery-title {
     text-align: center;
   }
 }