@media all and (max-width:600px) {

    .w3-right{
        display: none;
    }
    .w3-col.m6 img{
        display: none;
  } 

  .w3-col.m6 {
      width: 100%;
  }

  .w3-col.l6 {
      width: 100%;
  }
}