body {
    margin:0;
    font-family: 'Helvetica', 'sans-serif';
}

*, **, ::before, ::after {
    box-sizing: border-box;
}

header {
    background-color: #41BEAD;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-left: 50px;
   margin-right: 50px;
   padding: 0 40px;
}



.links {
    display: flex;
    padding: 15px;
}

.links li {
    list-style-type: none;
    margin-right: 20px;
}

.links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 6px;
}

.logo {
    width: 10%;
}

.content {
    padding: 65px 20px;
    background-color: #FFB402;
}

.content p, .content-title {
   color: white;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.3;
}

.content-title {
    margin-bottom: 20px;
}

.lectors {
    display: flex;
    padding: 40px 20px;
}

.lectors-more {
    display: flex;
}

.lectors-info-image{
    width: 100%;

}

.info-image{
    margin: 20px 50px;
    width: fit-content;
    border-radius: 50%;
    border: 5px solid #41BEAD
}

.lectors-info {
    display: flex;
}

.wrapper-name h3 {
    color: #41BEAD;
}

.lector-name-position {
    color: #B6BBC2;
}

.lector-name-resume {
    color: #6A6872;
}

.wrapper-name {
    margin-right:30px;
}

.lector-name {
    margin-bottom: -10px;
}