body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51) ;
    font-family: 'Helvetica, sans-serif';
    width: 65%;
}

article, aside {
    display: inline-block;
    margin: 20px;
    
}

img {
    max-width: 65%;
}

aside {
    vertical-align: top;
    width: 35%;
}



