body {
    padding: 50px;
    font-family: Helvetica, sans-serif;
}

body header {
    border-bottom: 2px solid rgb(0, 0, 0);
}


header {
    display: flex;
    justify-content: space-between;
    
}

ul {
    list-style-type: none;
    display: flex;
    text-align: center;
}

li {
    padding: 5px 20px 10px 10px;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}