@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

ul li {
    display: inline-block;
}

a {
    border-radius: 50%;
}

i {
   color: black;
   background-color: #EEEEEE;
   padding: 12px;
   margin:3px;
   border-radius: 50%;
}

.facebook:hover i {
    color: blue;
}

.twitter:hover i {
    color: aqua;
}

.google-plus:hover i {
    color: red;
}

.linkedin:hover i {
    color: rgb(69, 69, 210);
}

.instagram:hover i {
    color: rgb(188, 188, 210);
}
