* {
    box-sizing: border-box;
}

.container {
    max-width: 65vw;
    margin: 80px auto;
}

.container, section {
    display: flex;
    justify-content: center;
}



span {
    border:1px solid black;
    padding: 15px 15px 65px 15px;
}

.week {
    flex-wrap: wrap;
    
}

.workweek, .weekend {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    
}

.notes {
    flex-direction: column;
}





.weekday {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.notes span {
    flex-grow: 1;
    text-align: center;
   
}



