html {
    width: 700px;
    padding: 5px 15px;
    background-color: #e4e978;
    
    
}

section {
    font-style: italic;
    color: #4c7658;
}

article {
    border: 1px solid #b2ad7d;
    padding: 5px 15px;
    background-color: #f2f4c0;
    margin: 15px 10px;
    
}



