body {
    display: flex;
    margin: 0;
    background-color: #EEEEEE;
}


.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


* {
    box-sizing: border-box;
}

.gallery {
    margin: 70px auto;
}

.gallery li {
    border: 5px solid black;
    background-color: white;
    padding: 22px;
    margin: 15px;
    box-shadow: -1px 1px 17px black;
    list-style-type: none;
    justify-content: center;
}

li {
    display: flex;
    align-items: center;
}


