body {
    background-color: rgb(238, 238, 238);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

img {
    
    background-color: rgb(255, 255, 255);
}

.img1 {
    float: left;
}

blockquote {
    font-family: Georgia, serif;
}

aside a {
    color:rgb(0, 153, 0);
}