@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


body {
    margin: 0;
    font-family: 'Lato', sans-serif;
   
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;   
}

*, **, ::after, ::before {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}


.links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 13px;
    font-weight: 600;
    color: #55556D;
}

.links li {
    margin: 10px 10px;
}

.logo {
    width: 100px;
}

.logo-img {
    width: 100%;
    height: 100%;
}


.info {
    background-color: #54546D;
    height: 300px;
    position: relative;
}

.info-title {
    color: white;
    text-align: center;
    padding-top: 60px;
}



.info::after {
    content: url('./images/calculator-icon.svg');
    position: absolute;
    top: 50px;
    left: -73px;
}

.programs {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 30px 30px;
    text-align: center;
    color: #54546D;
}

.program-title {
    font-weight: 700;
    padding: 10px 10px;
}

.program {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: -160px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 4px black;
    
}

.program-text {
    padding: 0px;
}

.additional-wrapper {
    display: flex;
    position:relative;
    padding: 10px;
    padding-top: 20px;
}

.additional-wrapper p {
    margin-right: 10px;
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
}


.additional-wrapper::after {
    content: '';
    background-color: white;
    display: inline-block;
    height: 75%;
    width: 2px;
    position: absolute;
    left: 175px;
    bottom: 10px;
}

.program-footer {
    color: white;
    height: 100px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    
}

.price-wrapper p, .price {
    margin: 5px 10px;
    font-size: 14px;
   
}

.price {
    margin: 10px;
    font-size: 20px;
}

p {
    font-size: 14px;
}


.green {
    background: rgb(5,157,63);
    background: linear-gradient(36deg, rgba(5,157,63,1) 0%, rgba(68,208,121,1) 76%);
}

.blue {
    background: rgb(77,109,138);
    background: linear-gradient(54deg, rgba(77,109,138,1) 0%, rgba(95,150,200,1) 66%);  
}

.purple {
    background: rgb(78,60,169);
background: linear-gradient(54deg, rgba(78,60,169,1) 0%, rgba(136,121,221,1) 62%);
}

.program-btn {
    padding: 10px 30px;
    margin: 20px 20px;
    color: white;
    background-color: #9A5DC6;
    border-radius: 35px;
    border: none;
    box-shadow: 1px 1px 1px black;
}

.text-section {
    padding: 40px 140px;
    margin: 0 20px;
    color: #55556D;
}

.table-list {
    padding: 40px 40px;
    margin: 20px 120px;
    color: #55556D;
    border-radius: 15px
}

.table-list li {
    list-style-type: none;
    margin: 0px 0px;
}

.table-list ul {
    width: 800px;
    margin: 100px;
}

.table-list li:nth-child(2n+1) {
    background-color: #E6E6E6;
    padding: 10px 10px;
}

.table-list li:nth-child(2n) {
    background-color: #F8F8F8;
    padding: 10px 10px;
}

.check {
    margin: 0px 100px;
}

.table-cell {
    position: relative;
}

.check, .cross {
    position: absolute;
    right: 110px;
}


.bank {
    display: flex;
    padding: 40px 65px;
    color: #54546D;
}


.bottom-footer {
    background-color: #54546D;
    color: #908FAB;
    padding: 20px 40px;
    text-align: center;
}